<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <% if (brands.length>0) {%>
        <% for (let br of brands ){ %>
        <h1><%= br.name %></h1>
        <h1><%=arr[i]%></h1>
        <%i++%>
       <%}%>
       <%}else{%>
        No Brands!
        <%}%>
    
<%- include('../includes/end.ejs') %>    