<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <h1>Brands</h1>

    <form action="<%if(!editMode) {%>/Brand/add<%} else {%>/Brand/edit<%}%>" method="post">
        Name: <input type="text" name="name" value="<%if(editMode){%><%=brand.name %><%}%>"> <br>
        Description: <input type="text" name="desc" value="<%if(editMode){%><%=brand.description %><%}%>"> <br>
        <input type="checkbox" name="check" value="<%if(editMode){%><%=brand.showNbrOfCars %><%}%>" >
        <label >showNbrOfCars </label><br>
    <button type="submit" value="submit"><%if(editMode){%>Update<%} else {%>Create <% } %></button>
    </form>
    <hr>
    <form method="post" action="Brand">
        <button type="submit" >Show Brands</button>
    </form>
    <a href="/Brand/list">list</a>
<%- include('../includes/end.ejs') %>    